* {
	box-sizing: border-box;
}

#mobile { display: none; }
#desktop { display: inline; } 

.mobile { display: none; }
.desktop { display: inline; } 



body {
  background-color: #000033;
  color: #FFFF00;
  text-align: left;
  background-image: url("zimg_site_bg.png");
  font-family: Verdana, Arial,  sans-serif;
}

header {
	background-color: #000066;
	height: 150px;
	background-image: url("zimg_troll_right_large.png"), url("zimg_troll_left_large.png");
	background-repeat: no-repeat, no-repeat;
	background-position: left, right;
}


h1 {
	font-size: 3em;
	padding-top: 45px;
	text-align: center;
}


footer {
	background-color: #000066;
	font-size: .60em;
	font-style: italic;
	text-align: center;
	padding-bottom: 10px;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: #221811;
}

nav {
	float: left;
	width: 200px;
	font-weight: bold;
	font-size: 1.5em;
	padding-top: 10px;
	padding-left: 10px;
}

nav a {text-decoration: none;}
nav a:hover {color: #FFFF00;}
.subLink {
	padding-left: 30px;
	font-size: .8em;
}

nav ul {
	list-style-type: none;
	padding-left: 0;
}



#wrapper {
	background-color: #231814;
	min-width: 900px;
	max-width: 1280px;
	box-shadow: 5px 5px 5px;
	margin-left: auto;
	margin-right: auto;
}

#newGroundsWrapper {
	background-color: #000033;
	margin-left: 1em;
	margin-right: 1em;
}


main {
	margin-left: 200px;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	background-color: #333366;
}



.blockText {
	font-size: 1.1em;
	padding-left: 5%;
	padding-right: 3%;
	padding-top: 10px;
}

.enableFlash {
	font-style: italic;
	padding-left: 5%;
	padding-right: 3%;
	padding-top: 10px;
}

#gameHost {
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 5%;
	margin-right: 5%;
}

.instructionsText {
	padding-left: 5%;
	padding-right: 3%;
}
.tableSprite {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.statsTable {
	margin-right: 5%;
	margin-left: 5%;
	border-style: solid;
	border-width: 5px;
	border-color: #999999;
	background-color: #000000;
	color: #CCCCCC;
}
.statsTable th {
	color: #FFFFFF;
	text-align: center;
}
.statsTable tr {
	background-color: #000033;
}
.statsTable tr:nth-of-type(odd) {
	background-color: #000066;
}

.tablePad {
	padding: 5px;
}

.noun {
	font-size: 1.1em;
	font-weight: 900;
}
.hint {
	font-style: italic;
}

.stats {
	text-align: center;
}

#fightImage {
	background-image: url("zimg_fight_large.png");
	height: 162px;
	background-repeat: no-repeat;
	background-position: center;
}

#mailImage {
	background-image: url("zimg_mail_yourself.png");
	height: 340px;
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: center;
}

details {
	color: #CCCCCC;
	padding-left: 5%;
	padding-right: 3%;
	padding-bottom: 3%;
	background-color: #000033;
}

summary {
	font-size: 1.2em;
	padding-left: 5%;
	padding-right: 3%;
	background-color: #000066;
}

.doorImage {
	margin: 10px;
	background-color: #000066;
	background-repeat: no-repeat;
	height: 162px;
	padding-left: 200px;
	padding-right: 3%
}

#doorWater {
	background-image: url("zimg_door_water.png");
}
#doorFire {
	background-image: url("zimg_door_fire.png");
}
#doorSwamp {
	background-image: url("zimg_door_swamp.png");
}
#doorSpike {
	background-image: url("zimg_door_spike.png");
}
#doorIce {
	background-image: url("zimg_door_ice.png");
}
#doorGrass {
	background-image: url("zimg_door_grass.png");
}
#doorTree {
	background-image: url("zimg_door_tree.png");
}
#doorIron {
	background-image: url("zimg_door_block.png");
}
#doorSwitch {
	background-image: url("zimg_door_switch.png");
}
#doorLava {
	background-image: url("zimg_door_lava.png");
}

form {
	padding-left: 5%;
	padding-right: 3%;
}





/* help with compatibility in older browsers:*/
header, nav, main, footer { display: block; }

/* phone formating */
@media only screen and (max-width: 768px) { 
	
	
	#wrapper {
		background-color: #231814;
		min-width: 500px;
		max-width: 700px;
		box-shadow: none;
		margin-left: auto;
		margin-right: auto;
		width: 200px;
		
		transform: scale(.7);
		transform-origin: 0 0;
	}
	
	header {
		background-color: #000066;
		background-image: none;
		height: 1.1em;
	}
	h1 {
		font-size: 1em;
		padding-top: 1px;
	}
	
	
	
	
	nav {
		float: none;
		width: 100%;
		font-weight: bold;
		font-size: 1em;
		padding-top: 0px;
		padding-left: 0px;
	}
	
	nav a {
		display: block;
		padding: .2em;
		width: auto;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: #FEF6C2;
		text-align: center;
	}
	
	
	.subLink {
		padding-left: 0px;
		font-size: 1em;
	}
	
	main {
		margin-top: 60px;
		margin-left: 0;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;
		background-color: #333366;
	}
	
	
	#mobile {display: inline; }
	#desktop {display: none; }
	
	.mobile {display: inline; }
	.desktop {display: none; }

}  


/*end of phone formating */


